<!doctype html>
<html>
    <head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/bootstrap.min.css">
	</head>
    <body>
        <div class="container">
			<nav class="navbar navbar-dark bg-primary justify-content-center">
			<h3 class="text-white" align="center" style = "font-size:38px">ỨNG DỤNG TÌM KIẾM DỮ HÌNH ẢNH TRONG CƠ SỞ DỮ LIỆU</h3>
			<h3 class="text-white" align="center" style = "font-size:38px">GVHD: TS. BÙI THANH HÙNG</h3>
			<h3 class="text-white" align="center" style = "font-size:38px">SVTH: NGUYỄN QUANG MINH - LÊ NGỌC MINH HIẾU</h3>
			
			</nav>
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="query_img"><br>
                <input type="submit">
            </form>
            <h2>Ảnh truy  vấn:</h2>
            {% if query_path %}
            <img src="{{ query_path }}" width="300px">
            {% endif %}
            <h2>Kết quả tìm kiếm:</h2>
            {% for score in scores %}
            <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
                <img src="{{ score[1] }}" height="200px">
                <figcaption>{{ score[0] }}</figcaption>
            </figure>
            {% endfor %}
        </div>
    </body>
</html>


